.Display {
  width: 90%;
  min-height: 25px;
  max-height: 100px;
  overflow: auto;
  padding: 10px 0;
  font-family: roboto,sans-serif;
  font-size: 1em;
  text-align: center;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}
