.Key {
  display: inline-block;
  position: relative;
  float: left;
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 5px;
  border: 1px solid black;
  border-radius: 50px;
  line-height: 45px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  background-color: white;

  &:active {
    background-color: lightgray;
  }

  .key-number {
    font-size: 22px;
    display: block;
  }

  .key-text {
    position: relative;
    display: block;
    font-size: 8px;
    top: -30px;
  }
}
